@import "../variables";

.categories {
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s background-color;
      transition: 0.2s color ease-in-out;
      @include noselect();

      &:hover {
        color: $orange;
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: $orange;
        color: #fff;
        transition: 0.3s background-color;
      }
    }
  }
}
